@charset "UTF-8";

body {
    background-color: gray;
}

.divsolida {
    display: inline-block;
    width: 50px 50px;
    background-color: white;
    text-size-adjust: auto;
}

h1 {
    text-align: justify;
    display: flex;
    size-adjust: auto;
}